---
name: sign_in
resource: Session
redirect_to: /add_note
configuration:
  email:
  password:
---
{% form %}
  <div class="form-group">
      <label for="email">Email address:</label>
      <input name="{{ form_builder.fields.email.name }}" value="{{ form_builder.fields.email.value }}" class="form-control" id="email" type="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input name="{{ form_builder.fields.password.name }}" class="form-control" id="pwd" type="password">
    {% if form_builder.errors.password %}
      <p>{{ form_builder.errors.password }}</p>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
{% endform %}